
body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header {
    display:flex;
    flex-direction: column;
    background-color:#1f2937; 
    
}

.h_top {
    display:flex;
    justify-content:center;
    color:#f9faf8;
    font-size:24px;
    
}

.h_logo{
    margin-right: 650px;
    font-weight: bold;
}

.h_text {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
    width: 500px;
}

.h_links {
    display: flex;
    margin-left: 30px;
}

.h_sub{
    font-size: 18px;
    color: #E5E7EB;
    width: 550px;
}


.h_mid {
    display:flex;
    flex: 1;
    margin-top: 100px;
    margin-bottom: 150px;
}

.intro {
    display: flex;
    flex-shrink: 2;
    flex-direction: column;
    margin-left: 190px;
    
}

.sign_up {
    background-color: #3882f6;
    width: 90px;
    margin-top: 10px;
    color: #E5E7EB;
    font-weight: bold;
    border-radius: 10px;
    border: 0mm;
    height: 25px;
    

}

.welcome_img {
    background-color: #4c4d50;
    color: #E5E7EB;
    margin-left: 100px;
    width: 800px;
    text-align: center;
    line-height: 214px;
}

.body1 {
    display: flex;
    flex-direction: column;

}

.body1_topic {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: :#1f2937;
    font-weight: bolder;
    font-size: 36px;
}

.img_and_text {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.img_contain {
    width: 200px;
    
}

.info_img {
    
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-color: rgb(9, 162, 250);
    border-width: 5px; 
    border-radius: 10px;
    border-style: ridge;
    
}

.body2 {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    margin-top: 40px; 
}

.quote {
    font-style: italic;
    font-weight: 0;
    font-size: 36px;
    margin-top: 200px;
    width: 900px; 
}

.quote_author {
    font-weight: bold;
    font-size: 18px;
    margin-left: 600px;
    margin-bottom: 200px;
}

.body3 {
    display: flex;
    justify-content: center;

}

.empty3 {
    background-color: #3882f6;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 200px;
}

.call {
    font-size: 18px;
    margin-right: 150px;
    margin-top: 75px;
    color: #f9faf8;
}

.sign_up2 {
    background-color: #3882f6;
    width: 90px;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 5px;
    height: 25px;
    margin-top: 90px;
    margin-left: 0px;
    border-color:#f9faf8;
    border-width: 2px;
    width: 100px;

}